<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Forest Fire Prediction</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="./static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="./static/css2/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <style>
    body {
        background-color: #b1d0ec;
    }

    footer {
        background-color: #2a3f5b; /* Darker blue for the footer */
        color: #5a53de;
        padding: 10px 0;
    }

    nav.dark-blue {
        background-color: #2a3f5b !important; /* Dark blue for the navbar */
    }

    ::placeholder {
        color: black; /* Black color for placeholder text */
    }

    .btn-large.waves-dark.blue {
        background-color: #004080; /* Darker blue for the button */
    }
    
    label {
        font-weight: bold;
        color: black;
    }
</style>
</head>

<body>
  <nav class="dark-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo" style="display: flex; align-items: center;">
            <img src="{{ url_for('static', filename='fire.png') }}" alt="fire" style="width: 50px; height: 50px; margin-bottom: 5px;">
            <span style="margin-bottom: 10px; font-size: 22px;">Forest Fire Prediction</span>
        </a>
      
    </div>
  </nav>


  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center black-text">Forest Fire Prediction</h1>
      <div class="row center">
        <h5 class="header col s12 light">Predict the probability of Forest-Fire Occurence
        <br>
        </h5>
      </div>

              <div class="row">
    <form action='/predict' method="POST" class="col s12">
      <div class="row">
        <div class="input-field col s4">
            <label for="first_name" class="black-text"><b>Temperature</b></label>
            <br>
          <input   id="first_name" name='Temperature'type="text" class="validate">
        </div>
        <div class="input-field col s4">

          <label for="last_name" class="black-text"><b>Oxygen </b></label>
            <br>
          <input id="last_name"  name="Oxygen" type="text" class="validate">

        </div>

        <div class="input-field col s4">
            <label for="_name" class="black-text"><b>Humidity</b></label>
            <br>
          <input id="_name" name="Humidity" type="text" class="validate">

        </div>

      </div>

      <div class="row center">

          <button type="submit" class="btn-large waves-effect waves-light" style="background-color: #2a3f5b;">Predict Probability</button>
      </div>
    </form>
      </div>

      <br><h4 align="center"<b>{{pred}}</b></h4>
        <br>

    </div>
  </div>

  <div class="container">
    <div class="section">

<!-- Icon Section -->
<div class="row">
  <div class="col s12 m4 center-align">
      <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Crime Reports</h5>
          <p class="light">We did most of the heavy lifting for you to provide default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
          <button class="btn waves-effect waves-light" type="submit" name="action">Check
              <i class="material-icons right">send</i>
          </button>
      </div>
  </div>

  <div class="col s12 m4 center-align">
      <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
          <h5 class="center">Crime Prediction</h5>
          <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allows for a more unified user experience.</p>
          <a href="/crime">
              <button class="btn waves-effect waves-light" name="action">Predict Crime
                  <i class="material-icons right">send</i>
              </button>
          </a>
      </div>
  </div>

  <div class="col s12 m4 center-align">
      <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Check on Map</h5>
          <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          <button class="btn waves-effect waves-light" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
          </button>
      </div>
  </div>
</div>


    <br><br>
  </div>
  </div>>

  <footer class="page-footer" style="background-color: #2a3f5b;">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Janice D'Cruz</h5>
          <p class="grey-text text-lighten-4"></p>

        </div>      
      </div>
    </div>
    
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src=".js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>

